<!DOCTYPE html>
<html>
  <head>
    <title>Redscare</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Heebo|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <%= react_component("Navigation", prerender: false) %>

  <body>
    <%= yield %>
  </body>
</html>
